@model DryvaDriverVerification.Models.ChangePassword

@{
    ViewData["Title"] = "ChangePassword";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Reset your password</title>
</head>
<body>
    <h1>Reset your password</h1>
    <br />
    <form action="/api/Admin/ChangePassword" method="post">
        <input type="hidden" name="PasswordToken" value="@Model.PasswordToken" />
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm" for="CurrentPassword">Current Password</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="CurrentPassword" name="CurrentPassword" aria-describedby="currentPassword"
                       placeholder="Enter Current Password" value="@Model.CurrentPassword">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm" for="NewPassword">New Password</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="NewPassword" name="NewPassword" aria-describedby="newPassword"
                       placeholder="Enter New Password" value="@Model.NewPassword">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm" for="ConfirmNewPassword">Current Password</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" aria-describedby="confirmNewPassword"
                       placeholder="Confirm New Password" value="@Model.ConfirmNewPassword">
            </div>
        </div>
        <br />
        <div class="col-sm-9 float-right">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
</body>
</html>